<h2 class="text-center">FAQ's</h2>
<div class="container text-center mt-5">
<div class="row justify-content-center">
<div class="col-12 col-lg-12">

<h2>Why should I participate?</h2>
<p class="mt-5">If you are based in Lisbon and an established or emerging artist who would like to showcase your efforts it would be great to show your art and help you get feedback on your work.</p>

<h2 class="mt-5">Do you accept any artist?</h2>
<p class="mt-5">We are looking for artists who are either in the study of fine arts or self made artists and have a history and consistency of producing and perhaps selling art (not a requirement). There are limited slots per session.</p>

<h2 class="mt-5">What kind of art is accepted?</h2>
<p class="mt-5">At the moment we are looking for original oil or acrylic paintings, spray painted art or original sketches that are framed to offer for bidding.  This may expand in future sessions.</p>

<h2 class="mt-5">If accepted, what is expected?</h2>
<p class="mt-5">We ask that you bring selected item for auction, framed and signed work that is approximately A3 in size at least 15 minutes before auction commences. We also ask that you come prepared with a brief introduction of yourself and a few words about why you are offering your art for auciton.</p>

<h2 class="mt-5">Will this cost me anything?</h2>
<p class="mt-5">No, there will be an informal auctioneer who will help you with reserve pricing however there is no commission on sold works.</p>

<h2 class="mt-5">Do I need to upload my work anywhere?</h2>
<p class="mt-5">If you can kindly add links to your portfolio of work and indicate which piece you would like to offer for bidding please include in the contact form below.</p>

<h2 class="mt-5">Ok, are you ready?</h2>
<p class="mt-5">Fill out the form below and I will get back to you.</p>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSedXg8QL4D6-B6q5wTet5Zkg-4ak0Zcalgpv1C4JBwtNBHOnQ/viewform?embedded=true" width="640" height="978" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>
</div>
</div>
