h2 {
  color: white;
  font-size: 48px;
  font-family: 'Abril Fatface', cursive;
}

p {
  color: white;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  text-align: justify;

}


h1 {
  color: white;
}
