// Specific CSS for your home-page
body {
  background: black;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 150px;
  font-family: 'Abril Fatface', cursive;
}

.banner p {
  font-size: 20px;
  color: white;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ff0b0b;
  transition: background 0.3s ease;
}



h2 {
  color: white;
  font-size: 48px;
  font-family: 'Abril Fatface', cursive;
}

p {
  color: white;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

ol {
  color: white;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  text-align: left;
}

.quote {
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 16px;
}

h3  {
  color: white;
  font-size: 45px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}
