// Specific CSS for your home-page

.content {
  display: flex;
}
.cards {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  justify-content: space-evenly ;

}

body {
  background: black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 60px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("salon-carre-edit.png"));
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 150px;
  font-family: 'Abril Fatface', cursive;
}

.banner p {
  font-size: 20px;
  color: white;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ff0b0b;
  transition: background 0.3s ease;
}



h2 {
  color: white;
  font-size: 48px;
  font-family: 'Abril Fatface', cursive;
}

p {
  color: white;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

ol {
  color: white;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  text-align: left;
}

.quote {
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 16px;
}

h3  {
  color: white;
  font-size: 45px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}


@media only screen and (max-width: 768px) {
  /* For mobile: */
  .banner h1 {
    font-size: 78px;
  }

  .banner {
    padding: 150px 20px;
  }
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
