<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/popupartauctions/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    <span class="text-white">© 2022 localstrokes.art. All rights reserved. </span><i class="fas fa-heart"></i>
  </div>
</div>
