<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <a class="navbar-brand" href="/">Pop Up Art Auctions</a>
  <a href="https://www.instagram.com/popupartauctions/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
  <%# <%= link_to "Do you like to doodle?", doodles_path%>

  <div class="navbar-collapse justify-content-end" id="navbarNav">
        <a class="nav-link text-white btn btn-primary me-3" href="/doodles">Fancy a doodle?<span class="sr-only">(current)</span></a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white btn btn-danger" href="/artists">Artists: Open Call <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
</div>
