<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1558102400-72da9fdbecae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1996&q=80);">
  <div class="container text-center">
    <h1 class="mb-5">Lisbon Local Art Auctions</h1>
    <p><span class="quote mt-5" data-controller="typed-js"></span></p>

    <a class="col btn btn-flat mt-5" href="#rsvp">RSVP now</a>

  </div>
</div>

<div class="container-fluid text-center mt-5">
  <div class="row">

    <p>Connect with local artists at select locations around Lisbon</p>
    <div class="col">
      <h2>Where:</h2>
      <p>To Be Announced</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99580.00554143201!2d-9.160203249999999!3d38.74362659999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19331a61e4f33b%3A0x400ebbde49036d0!2sLisbon%2C%20Portugal!5e0!3m2!1sen!2ses!4v1656335476826!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col">
     <h2>When:</h2>
     <%# <p>Tues, June 26, 2022</p> %>
     <p>To Be Announced</p>
     <%# <p>9:00pm</p> %>
     <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=My Event&details=Event description text&dates=20220305T103000/20220305T184500&location=New York City">Add to Google Calendar</a>
    </div>
  </div>

<div class="container text-center d-flex flex-column align-items-center p-5">
  <h2>What is it about?</h2>
  <p class="mt-5">This is a bi-weekly event to bring together local artists to showcase their work and for new or emerging collectors to engage and bid on art</p>
  <h2>How does it work?</h2>
</div>

<ol class="container">
  <li>All artists will display their artwork at the location before bidding begins.</li>
  <li>Min. bid is 20€, however artists reserve the right to a reserve price <i>(a min. price the artist is willing to sell)</i> and if not met, artist is not obligated to complete the sale.</li>
  <li>All payments are done between collector and artist, cash is preferred.</li>
</ol>




<div class="container-fluid" id="rsvp">
  <h2>RSVP</h2>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd2lWmMxrGUePocJHkrukmQ3LkaKtYu3mEulZZahj71-KAiIg/viewform?embedded=true" width="550" height="864" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
