<div class="banner">
  <div class="text-center">
  <div class="row">
    <h1 class="col-12 mb-5">Lisbon Pop Up Art Auctions</h1>
    <%# <h3><span class="quote mt-5" data-controller="typed-js"></span></h3> %>
  </div>
    <a class="col btn btn-flat btn-lg mb-5" href="https://www.meetup.com/lisbon-pop-up-art-auctions/" target="_blank">RSVP now</a>
    <h3>"Art should comfort the disturbed and disturb the comfortable." - Banksy</h3>
  </div>
</div>


<div class=" text-center mt-5">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <h2>Where:</h2>
      <p class="text-center">TBD</p>
      <p class="text-center"></p>

    </div>
    <div class="col-sm-6 col-lg-6">
     <h2>When:</h2>
     <p class="text-center">Wed, July 27th, 2022</p>
     <%# <p>To Be Announced</p> %>
     <p class="text-center">7:30pm - 9:30pm</p>
     <div class="text-center">

     </div>
    </div>
  </div>

<div class="text-center d-flex flex-column align-items-center p-5">
    <div class="row">
      <div class="col-12">
        <h2>What is it about?</h2>
        <p class="mt-5 mb-5">This is an event to bring together local artists to showcase their work and for new or emerging collectors to engage and bid on art while connecting with these artists at select locations around Lisbon.  There will be a range of artists and styles to bid on, however it will mainly be original art.</p>
        <h2>Why are you running them?</h2>
        <p class="mt-5 mb-5">The aim of these events is to promote local talent like recent graduates in fine arts or up and coming street artists. Lisbon is a creative hub and growing, the objective of these events are to show that collecting art does not need to be ambigious and how artistic value can greatly enhance your life.</p>
        <h2 class="mt-5 mb-5">How does it work?</h2>
          <ol>
            <li>All artists will display their artwork at the location before bidding begins.</li>
            <li>Min. bid is 20€, however artists reserve the right to a reserve price <i>(a min. price the artist is willing to sell)</i> and if not met, artist is not obligated to complete the sale.</li>
            <li>All payments are done between collector and artist, cash is preferred.</li>
          </ol>
      </div>
    </div>
</div>
