<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://upload.wikimedia.org/wikipedia/commons/2/20/Alexandre_Brun_-_View_of_the_Salon_Carr%C3%A9_at_the_Louvre.jpg);">
  <div class="container text-center">
  <div class="row">
    <h1 class="col-12 mb-5">Lisbon Pop Up Art Auctions</h1>
    <%# <h3><span class="quote mt-5" data-controller="typed-js"></span></h3> %>
  </div>
    <a class="col btn btn-flat mb-5" href="#rsvp">RSVP now</a>
    <h3>"Art should comfort the disturbed and disturb the comfortable." - Banksy</h3>
  </div>
</div>

<div class="container text-center mt-5">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <h2>Where:</h2>
      <p class="text-center">Oasis Backpackers Hostel Lisbon -Coliving & Coworking</p>
      <p class="text-center">R. de Santa Catarina 24, Lisboa</p>
      <iframe class="text-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.346805354318!2d-9.148655999999999!3d38.709846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d6312f447e9fa6b!2zMzjCsDQyJzM1LjUiTiA5wrAwOCc1NS4yIlc!5e0!3m2!1sen!2ses!4v1656436829475!5m2!1sen!2ses" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-sm-6 col-lg-6">
     <h2>When:</h2>
     <p class="text-center">Wed, July 6th, 2022</p>
     <%# <p>To Be Announced</p> %>
     <p class="text-center">7:30pm - 9:30pm</p>
    </div>
  </div>

<div class="container text-center d-flex flex-column align-items-center p-5">
    <div class="row">
      <div class="col-12">
        <h2>What is it about?</h2>
        <p class="mt-5 mb-5">This is a bi-weekly event to bring together local artists to showcase their work and for new or emerging collectors to engage and bid on art while connecting with local artists at select locations around Lisbon</p>
        <h2 class="mt-5 mb-5">How does it work?</h2>
          <ol class="container">
            <li>All artists will display their artwork at the location before bidding begins.</li>
            <li>Min. bid is 20€, however artists reserve the right to a reserve price <i>(a min. price the artist is willing to sell)</i> and if not met, artist is not obligated to complete the sale.</li>
            <li>All payments are done between collector and artist, cash is preferred.</li>
          </ol>
      </div>
    </div>
</div>


<div class="container-fluid" id="rsvp">
<div class="row">
<div class="col-12">
  <h2>RSVP</h2>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd2lWmMxrGUePocJHkrukmQ3LkaKtYu3mEulZZahj71-KAiIg/viewform?embedded=true" width="550" height="864" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
</div>
</div>
