<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1558102400-72da9fdbecae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1996&q=80);">
  <div class="container text-center">
    <h1>Lisbon Local Art Auctions</h1>
    <p>Connect with local artists at selected locations around Lisbon</p>
    <a class="btn btn-flat mt-5" href="#">RSVP now</a>
  </div>
</div>

<div class="container text-center mt-5">
  <div class="row">
    <div class="col">
      <h2>Where:</h2>
      <p>LeChat Restaurant</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3639.675053208458!2d-9.160626221326062!3d38.70313077204344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1934997c157213%3A0x65212ad8ce0065a8!2sLe%20Chat!5e0!3m2!1sen!2ses!4v1656281551360!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col">
     <h2>When:</h2>
     <p>Tues, June 26, 2022</p>
     <p>9:00pm</p>
     <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=My Event&details=Event description text&dates=20220305T103000/20220305T184500&location=New York City">Add to Google Calendar</a>
    </div>
  </div>

<div class="container text-center d-flex flex-column align-items-center p-5">
  <h2>What is it about?</h2>
  <p class="mt-5">This is a an event to bring together local artists to showcase their work and for new or emerging collectors to engage and bid on the art</p>
  <h2>What are the rules?</h2>
</div>

<ol class="">
  <li>All artists will display their artwork at the location 30 min before bidding begins.</li>
  <li>Min. bid is 20€, however artists reserve the right to a reserve price <i>(a min. price the artist is willing to sell)</i> and if not met, artist is not obligated to complete the sale.</li>
  <li>Have a drink of your choice and enjoy the bidding!</li>
</ol>

<div class="container text-center">
<h2>RSVP Here</h2>

</div>
