.card {
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 1px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-style: none;
}
